body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.nav{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    font-size: 25px;
    display: flex;
    /* align-items: center; */
    
    
}

.inst{
    width: 30%;
    height: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    width: 70%;
    height: 50px;
    border: 1px solid rgb(209, 247, 14);
 display: flex;
 justify-content: end;
align-items: center;
}

.ul{
    width: 50%;
    height: 50px;
    border: 1px solid black;
    list-style: none;
    display: flex;
    font-size: 35px;
    justify-content: space-around;
    align-items: center;
}
.main2{
    width: 100%;
    height: 120px;
    /* border: 1px solid black; */
    display: flex;
 justify-content: center;
 align-items: center;
    overflow: hidden;
    overflow-x: auto;

  
}
.round_up{
    width: 150px;
    height: 100px;
    /* border: 1px solid black; */
display: flex;
justify-content: center;
align-items: center;
    margin-right: 10px;

}
.round_in{
    width: 85px;
    height: 85px;
    border: 3px solid rgb(20, 20, 222);
   border-radius: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.inside{
    width: 70px;
    height: 70px;
    border: 1px solid black;
   border-radius: 50px; 
   background: #833ab4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.footer{
    width: 100%;
    height: 60px;
    border: 1px solid black;
    display: flex;
   
        position: absolute;
    bottom: 10px;
}
.fot_div{
    width: 20%;
    height: 60px;
    border: 1px solid black; 
display: flex;
justify-content: center;
align-items: center;
}
.om{
    width: 100%;
    height: 310px;
    border: 1px solid black; 
    overflow: scroll;
}
.aman{
    width: 100%;
    height: 600px;
    border: 1px solid blue;
    background-color: #fcb045;
}
.chap{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50px;
}
.img{
    width: 100%;
    height: 30px;
    border: 1px solid blueviolet;
}
